<h1><%= @client.name %></h1>
<p><%= @client.age %></p>
<p><%= @client.hair_color %></p>
<p><%= @client.eye_color %></p>
<p><%= @client.gender %></p>
<p><%= @client.alive %></p>

<%= link_to 'Back', clients_path %>
